@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'REM', sans-serif;
}

.container{
	width: 1366px;
	margin: 0 auto;
}


/* ====================================== navbar start ====================================== */
.nav_body{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav_left{
	width: 25%;
}
.nav_left img{
	width: 170px;
	height: 50px;
}




.nav_center{
	width: 50%;
}
ul{
	text-align: center;
}
.nav_center ul li{
	list-style: none;
	display: inline-block;
	margin-right: 23px;
}
.nav_center ul li a{
	font-size: 16px;
	font-weight: 500;
	color: rgb(41, 38, 38);
	text-decoration: none;
}
.nav_center ul li a:hover{
	color: #ea580c;
}



.nav_right{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 10px 0;
}
.nav_right button{
	background: #EA580C;
	border: 0;
	width: 150px;
	height: 40px;
	border-radius: 30px;
}
.nav_right button a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.nav_right button a i{
	margin-right: 5px;
}
/* ====================================== navbar end ====================================== */



/* ====================================== banner start ====================================== */
.banner_image{
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}
.banner_image{
	margin: 0 2%;
}
.banner_info{
	text-align: center;
	padding: 165px 0;
}
.banner_info span{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 45px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.3);
	padding: 3px 6px;
	border-radius: 3px;
}
.banner_info h1{
	font-size: 48px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 30px;
}
.banner_info p{
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 45px;
}
.banner_info button{
	border-radius: 5px;
	border: 0;
	width: 180px;
	height: 40px;
	background-color: #EA580C;
}
.banner_info a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
/* ====================================== banner end ====================================== */



/* ====================================== service section start ====================================== */
.service{
	text-align: center;
	padding: 80px 0;
}
.service_title span{
	font-size: 14px;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	display: inline-block;
	/* background: rgb(255, 255, 255); */
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 6px;
	border-radius: 3px;
}
.service_title p{
	font-size: 16px;
	color: #71717a;
	font-weight: 400;
	width: 580px;
	margin: 0 auto;
	margin-bottom: 45px;
}
.service_title h2{
	font-size: 36px;
	color: #09090b;
	font-weight: 500;
	margin-bottom: 30px;
}
.service_items{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.service_list{
	width: 160px;
	height: 130px;
	background: white;
	/* box-shadow: -1px 25px 15px 0px rgba(0,0,0,0.25); */
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.2s;
}
.service_list:hover{
	background-color: #FDEEE6;
}
.service_list i{
	display: inline-block;
	font-size: 40px;
	color: #ea580c;
	padding-top: 10px;
}
.service_list h4{
	font-size: 18px;
	color: #09090b;
	font-weight: 500;
	width: 125px;
	margin: 0 auto;
	margin-top: 25px;
}

/* ====================================== service section end ====================================== */



/* ====================================== design section start ====================================== */
.design{
	padding: 40px 0;
}
.design_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}
.design_left{
	width: 50%;
	text-align: center;
}
.design_left h2{
	font-size: 36px;
	color: #09090b;
	font-weight: 500;
	margin-bottom: 30px;
}
.design_left span{
	font-size: 14px;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 6px;
	border-radius: 3px;
}
.design_left p{
	font-size: 16px;
	color: #71717a;
	font-weight: 400;
	width: 580px;
	margin: 0 auto;
	margin-bottom: 45px;
}
.design_left button{
	border-radius: 5px;
	border: 0;
	width: 180px;
	height: 40px;
	background-color: #EA580C;
}
.design_left button a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}

.design_right{
	flex-basis: 50%;
	border-radius: 30px;
}
.design_wrapper img{
	width: 50%;
	padding-top: 3px;
	border-radius: 0 30px 30px 0;   
}
/* ====================================== design section end ====================================== */



/* ====================================== studies section start ====================================== */
.studies{
	padding: 35px 0;
}
.studies_wrapper{
	display: flex;
	border-radius: 30px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.studies_info, .studies_statics{
	margin-left: 50px;
	padding: 20px 0;
}
.studies_wrapper img{
	width: 50%;
	padding-top: 3px;
	border-radius: 30px 0 0 30px; 
}
.studies_left span{
	font-size: 14px;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 6px;
	border-radius: 3px;
}
.studies_left h2{
	font-size: 36px;
	color: #09090b;
	font-weight: 500;
	margin-bottom: 20px;
}
.studies_left .title{
	font-size: 16px;
	color: #71717a;
	font-weight: 400;
	width: 580px;
	margin: 0 auto;
	margin-bottom: -10px;
}
.study_title{
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	margin-bottom: -10px;
}
.studies_statics .study_title h2{
	color: #09090b;
	font-size: 18px;
	font-weight: 500;
}
.studies_statics .study_title h4{
	color: #09090b;
	font-size: 18px;
	font-weight: 500;
}
.static{
	width: 100%;
	display: flex;
}
.static1{
	width: 75%;
	height: 20px;
	background: #EA580C;
	border-radius: 30px 0 0 30px;
}
.static2{
	width: 25%;
	height: 20px;
	background: #E4E4E7;
	border-radius: 0 30px 30px 0;
}
.static3{
	width: 95%;
	height: 20px;
	background: #EA580C;
	border-radius: 30px 0 0 30px;
}
.static4{
	width: 5%;
	height: 20px;
	background: #E4E4E7;
	border-radius: 0 30px 30px 0;
}
.static5{
	width: 85%;
	height: 20px;
	background: #EA580C;
	border-radius: 30px 0 0 30px;
}
.static6{
	width: 15%;
	height: 20px;
	background: #E4E4E7;
	border-radius: 0 30px 30px 0;
}
/* ====================================== studies section start ====================================== */




/* ====================================== flexibility section  start ====================================== */
.flexibility{
	padding: 30px 0;
}
.flexibility_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flexibility_left{
	width: 50%;
}
.flexibility_left ul li::marker{
	color: #EA580C;
}
.flexibility_left i{
	font-size: 36px;
	margin-bottom: 20px;
}
.flexibility_left h2{
	color: #09090b;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 20px;
}
.flexibility_left p{
	width: 650px;
	color: #71717a;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}

.flexibility_left ul li{
	text-align: left;
	margin-top: 15px;
	color: #09090b;
	font-size: 16px;
	font-weight: 500;
	margin-left: 30px;
}



.flexibility_right{
	width: 50%;
}
.flexibility_right img{
	width: 100%;
	height: 500px;
}
/* ====================================== flexibility section end ====================================== */


/* ====================================== marketing section start ====================================== */
.marketing{
	padding: 120px 0;
}
.marketing_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.marketing_left{
	width: 50%;
}
.market_item_top{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.ecommerce{
	width: 230px;
	height: 180px;
	background: #F6EEFE;
	align-items: center;
	border-radius: 10px;
	text-align: center;
}
.ecommerce h3{
	font-size: 20px;
	color: #9333ea;
	font-weight: 500;
}
.ecommerce i{
	font-size: 50px;
	margin: 20px 0;
	color: #9333ea;
}


.branding{
	width: 230px;
	height: 180px;
	background: #E8F9EF;
	margin-left: 20px;
	border-radius: 10px;
	text-align: center;
	margin-top: -60px;
}
.branding h3{
	font-size: 20px;
	color: #16a34a;
	font-weight: 500;
}
.branding i{
	font-size: 50px;
	margin: 20px 0;
	color: #16a34a;
}

/* =========================================== */
.market_item_bottom{
	display: flex;
	align-items: center;
	justify-content: center;
}
.consultation{
	width: 230px;
	height: 180px;
	background: #FDECEC;
	align-items: center;
	border-radius: 10px;
	text-align: center;
}
.consultation h3{
	font-size: 20px;
	color: #dc2626;
	font-weight: 500;
}
.consultation i{
	font-size: 50px;
	margin: 20px 0;
	color: #dc2626;
}


.marketings{
	width: 230px;
	height: 180px;
	background: #E6F6FD;
	align-items: center;
	border-radius: 10px;
	text-align: center;
	margin-left: 20px;
	margin-top: -60px;
}
.marketings h3{
	font-size: 20px;
	color: #0284c7;
	font-weight: 500;
}
.marketings i{
	font-size: 50px;
	margin: 20px 0;
	color: #0284c7;
}

.marketing_right{
	width: 50%;         
}
.marketing_right h2{
	font-size: 36px;
	color: #09090b;
	font-weight: 500;
	margin-bottom: 20px;
}
.marketing_right p{
	font-size: 16px;
	color: #71717a;
	font-weight: 500;
	margin-bottom: 40px;
}
.marketing_right button a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
.marketing_right button{
	border-radius: 5px;
	border: 0;
	width: 180px;
	height: 40px;
	background-color: #EA580C;
}
/* ====================================== marketing section  end ====================================== */




/* ====================================== enthusiasm section  start ====================================== */
#enthusiasm{
	margin-bottom: 10rem;
}
.enthusiasm_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.enthusiasm_left{
	width: 50%;
}
.enth_items{
	border: 1px solid rgba(113, 113, 122, 0.4);
	border-radius: 20px;
}
.item_one{
	border-radius: 20px;
	padding: 20px;
}
.item_wrapper{
	display: flex;
}
.enthusiasm_left h2{
	font-size: 36px;
	color: #09090b;
	font-weight: 500;
	margin-bottom: 30px;
}
.item_one h2{
	font-size: 24px;
	margin-bottom: 17px;
}
.item_one p{
	font-size: 14px;
	font-weight: 500;
	color: #71717a;
	width: 280px;
}


.enthusiasm_right{
	width: 50%;
	text-align: center;
	position: relative;
}
.enthusiasm_right .image_one{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.enthusiasm_right .image_two{
	position: absolute;
	left: 9px;
	bottom: -65px;
	display: block;
}

.image_two img{
	border-radius: 30px;
}
.image_one img{
	border-radius: 30px;
}
/* ====================================== enthusiasm section  end ====================================== */



/* ============================= marquee section end ============================ */
#marq{
	margin-bottom: 5rem;
}
marquee{
	display: block;
	border-top: 1px solid rgba(113, 113, 122, 0.4);
	border-bottom: 1px solid rgba(113, 113, 122, 0.4);
	padding: 15px 0;
}
marquee h2{
	display: inline-block;
	margin-right: 30px;
	font-size: 48px;
	font-weight: 500;
	color: #09090b;
}
/* ============================= marquee section end ============================ */



/* ============================= tools section start ============================ */
#tools .tools i{
	width: 40px;
	height: 40px;
	background: #FBDECE;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	border-radius: 50%;
	color: #EA580C;
}
#tools .tools i:last-child{
	background: #EA580C;
	color: white;
}
#tools{
	position: relative;
}
.tools{
	position: absolute;
	right: 10px;
	bottom: 0;
	position: fixed;
}
/* ============================= tools section end ============================ */





/* ============================= question section start ============================ */
#questions{
	margin-bottom: 100px;
}
.question_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.question_left{
	width: 50%;
}
.qst_item:first-child{
	margin-top: 0;
}
.qst_item{
	margin-top: 13px;
}
.qst_item button{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
	background: #fffefe;
	border: 1px solid rgba(113, 113, 122, 0.2);
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
}
.qst_item button h5{
	font-size: 16px;
	font-weight: 600;
	color: #09090b;
}

.question_right{
	width: 50%;
	margin-left: 25px;
}
.question_right span{
	font-size: 14px;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 6px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.question_right h2{
	font-size: 36px;
	font-weight: 500;
	color: #09090b;
	margin-bottom: 20px;
}
.question_right button{
	border-radius: 5px;
	border: 0;
	width: 180px;
	height: 40px;
	background-color: #EA580C;
}
.question_right p{
	font-size: 16px;
	color: #71717a;
	font-weight: 500;
	margin-bottom: 40px;
}
.question_right button a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
/* ============================= question section end ============================ */


/* ============================= transform section start ============================ */
#transform{
	padding: 50px 0;
}
.transform{
	background: #FBDECE;
	border-radius: 10px;
	padding: 10px 0;
}
.transform_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.transform_lfet{
	width: 35%;
}
.transform_lfet img{
	width: 100%;
}
.transform_right{
	width: 65%;
}
.transform_right h3{
	font-size: 30px;
	font-weight: 500;
	color: #09090b;
	margin-bottom: 15px;
}
.transform_right p{
	font-size: 14px;
	font-weight: 400;
	color: #71717a;
	margin-bottom: 30px;
}
.transform_right button{
	border-radius: 5px;
	border: 0;
	width: 180px;
	height: 40px;
	background-color: #EA580C;
}
.transform_right button a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
/* ============================= transform section end ============================ */


/* ============================= about section start ============================ */
#about{
	border-bottom: 1px solid rgba(113, 113, 122, 0.2);
	border-top: 1px solid rgba(113, 113, 122, 0.2);
	padding: 70px 0;
}
.about_wrapper{
	display: flex;
}
.about_items1{
	width: 40%;
	margin-right: 30px;
}
.about_items2{
	width: 20%;
}
.about_items3{
	width: 20%;
}
.about_items4{
	width: 20%;
}

.about_items1 img{
	width: 140px;
	margin-bottom: 20px;
}
.about_items1 p{
	font-size: 16px;
	font-weight: 500;
	color: #27272a;
	margin-bottom: 20px;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #F4F4F5;
	border-radius: 10px;
	border: 1px solid rgba(113, 113, 122, 0.2);
}
.btn input{
	background: transparent;
	border: 0;
	outline: 0;
	padding: 15px 20px;
	width: 100%;
}
.btn i{
	padding: 10px 25px;
	background: #FBDECE;
	margin-right: 7px;
	border-radius: 10px;
	color: #EA580C;
}


.about_wrapper h5{
	font-size: 20px;
	color: #27272a;
	font-weight: 500;
	margin-bottom: 20px;
}

.about_wrapper ul li{
	list-style: none;
	text-align: left;
	color: #09090b;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 13px;
}

.about_items3 ul li{
	display: flex;
	align-items: center;
}
.about_items3 ul li{
	font-weight: 500;
}
.about_items3 ul li i{
	font-size: 25px;
	margin-right: 20px;
	border: 1px solid rgba(113, 113, 122, 0.2);
	padding: 8px;
	border-radius: 5px;
	transition: 0.5s;
}
.about_items3 ul li i:hover{
	background: #EA580C;
	color: white;
}
/* ============================= about section end ============================ */



/* ============================= footer start ============================ */
.footer_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 17px 0;
}
.footer_left a{
	font-size: 16px;
	color: #27272a;
	font-weight: 500;
	text-decoration: none;
}
.footer_right a{
	font-size: 16px;
	color: #27272a;
	font-weight: 500;
	text-decoration: none;
}
/* ============================= footer start ============================ */